<div class="row">
 
    <div class="col">
        <mat-card>
        
            <mat-card-header>
                <mat-card-title>
                  <b>
                      UML 1
                  </b> 
                </mat-card-title>
            </mat-card-header>
          <mat-card-actions>
            <button mat-button class="btn btn-warning" routerLink="/qcm" routerActive="active" [queryParams]="{tag:'uml1'}"><b>demarrer le QCM </b> </button>
          </mat-card-actions>
            
        </mat-card>
    </div>
    <div class="col">
            <mat-card>
            
                <mat-card-header>
                    <mat-card-title>
                      <b>
                          UML 2
                      </b> 
                    </mat-card-title>
                </mat-card-header>
                <mat-card-actions>
                <button mat-button class="btn btn-warning" routerLink="/qcm" routerActive="active" [queryParams]="{tag:'uml2'}"><b>demarrer le QCM </b> </button>
              </mat-card-actions>
                
            </mat-card>
     </div>
     <div class="col">
        <mat-card>
        
            <mat-card-header>
                <mat-card-title>
                  <b>
                      UML 3
                  </b> 
                </mat-card-title>
            </mat-card-header>
            <mat-card-actions>
            <button mat-button class="btn btn-warning" routerLink="/qcm" routerActive="active" [queryParams]="{tag:'uml3'}"><b>demarrer le QCM </b> </button>
          </mat-card-actions>
            
        </mat-card>
        </div>

</div>