<div class=row>
  <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
        
          <mat-card-title>Gestion des profiles </mat-card-title>
        
        </mat-card-header>
        <img mat-card-image src="assets/profile.jpg" >
        
        
        <mat-card-content>
          <p>
    
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button  mat-raised-button routerLink="/gestionprofile" routerActive="active">Gestion des Profiles</button>
          
        
        </mat-card-actions>
      </mat-card>
    </div>

    
    
    <div class="col">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Gestion des licences </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/Licenses.png" >
        <mat-card-content>
          <p>
          
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button  mat-raised-button routerLink="/gestionlicense" routerActive="active">Gestion des licences</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
        
          <mat-card-title>Gestion des QCM </mat-card-title>
        
        </mat-card-header>
        <img mat-card-image src="assets/qcm.jpg" >
        <mat-card-content>
          
          <p>
          
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button  mat-raised-button routerLink="/gestionqcm" routerActive="active">Gestion des QCM</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
        
          <mat-card-title>Gestion des Catégories </mat-card-title>
        
        </mat-card-header>
        <img mat-card-image src="assets/categorie.jpg" >
        <mat-card-content>
          
          <p>
          
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button  mat-raised-button routerLink="/gestioncategorie" routerActive="active">Gestion des Catégories</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>
