<div class="license_contour">
    <div class="container_license" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center" >
        <mat-card class="mat_license" fxFlex="30" >
            <div class="license_carte_header mb-3">
                Pack 3 Modules
            </div>
            <mat-card-content >
            <p class="license_carte_contenu">
                399.99 DH/<i>année</i>
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button class="button_license mb-3">AVOIR</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat_license" fxFlex="30" >
            <div class="license_carte_header mb-3">
                1 MOIS
            </div>
            <mat-card-content>
            <p class="license_carte_contenu">
                49.99 DH
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button class="button_license mb-3">AVOIR</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat_license" fxFlex="30" >
            <div class="license_carte_header mb-3">
                6 MOIS
            </div>
            <mat-card-content>
            <p class="license_carte_contenu">
                299.99 DH
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button class="button_license mb-3">AVOIR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="container pt-5 pb-5" >
    <div class="license_description" fxLayout="row" fxLayoutGap="30px">
        <div class="license_free" fxFlex="60">
            <mat-card class="free">
                <div class="row">
                    <div class="col-2">
                        <div  class="header_free" ></div>
                    </div>
                    <div class="col-10 ">
                        <mat-card-header>   
                            <mat-card-title>Version Gratuite </mat-card-title>
                            <mat-card-subtitle>Pour tester nos fonctionalité</mat-card-subtitle>
                          </mat-card-header>
                    </div>
                </div>
                <mat-card-content class="license_description">
                    <ul>
                        <li>&nbsp;&nbsp;&nbsp;Un seul QCM par module </li>
                        <li>&nbsp;&nbsp;&nbsp;Une seul classe a votre disposition </li>
                    </ul>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="license_premium" fxFlex="60">
            <mat-card class="premium">
                <div class="row">
                    <div class="col-2">
                        <div  class="header_premium" ></div>
                    </div>
                    <div class="col-10">
                        <mat-card-header>
                            <mat-card-title>Version payante</mat-card-title>
                          <mat-card-subtitle>Version compléte</mat-card-subtitle>
                        </mat-card-header>
                    </div>
                </div>
                
                <mat-card-content class="license_description">
                  <ul>
                    <li>&nbsp;&nbsp;&nbsp;3 QCMs par module </li>
                    <li>&nbsp;&nbsp;&nbsp;Autant de classes que vous désirez</li>
                </ul>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>
