<notifier-container></notifier-container>
<div class="container-sm" >
    <mat-card style="width: 50%;">
        <mat-card-header>
            <mat-card-title> Passez vos examens</mat-card-title>
        </mat-card-header>
        <div >
        <img mat-card-image src="assets/posper.png">
        <mat-card-content>
            <p>
               Vous recevrez vos notifications d'examen ici 
            </p>
        </mat-card-content>
        </div>
    </mat-card>
    <button  (click)="showNotification('success', 'Notification successfully opened.')">Notification test</button>
</div>

