      
            <div class="question row mb-5 mt-5">  <div class="col-12 ">Question  : {{question}}</div></div> 
            <div class="container">
             
               <mat-radio-group  class="row">
                <mat-radio-button class="rep col" value="1">{{reponse[0]}}</mat-radio-button>
                <mat-radio-button value="2" class="rep col">{{reponse[1]}}</mat-radio-button>
                <mat-radio-button value="3" class="rep col">{{reponse[2]}}</mat-radio-button>
                <mat-radio-button value="4" class="rep col">{{reponse[3]}}</mat-radio-button>
                
              </mat-radio-group>
            </div>