<div class="row text-center">
    <div class="col"><h1>Introduction</h1><P>I believe we all want the same thing - no matter who you are or where you live. We want to learn, to progress in life, to save time and to prosper. If so, this application is meant for you ! Welcome to Prosper .</P></div>
    <div class="col"><img src="assets/chat.jpg" width="100%"></div>
</div>
<hr>
    <div class="row text-center pt-3">
    <div class="col"><img src="assets/chitane.jpg" width="100%"></div>
        <div class="col">
            <div class="row">  
                <p>Proper offers free and premium testing which has been mitaculasly chosen and picked for our costumers in different field and subjects. Evaluate your knowlegde and hit the high score!</p>
            </div>
            <div class="row">
                <h1>Use it professionally !</h1><p>Professors and employers have the ability to test their candidats online with an integrated monitoring tool</p>
            </div>
            <div class="row">
                <h1>Tired of correcting your tests ?</h1><p>No need for that, our Multiple Choise Questions are automatically corrected and scored.</p>
             </div>
        </div>   
    </div>
<hr>
    <div class="row pt-3"><h1>QCM pilier d'apprentissage</h1><p>Avec Prosper commençant autant qu'un débutant et progressant petit à petit jusqu'à ce qu'on deviennent des candidats.<br>
        Renforcez la confiance grâce à un apprentissage pratique en répondant à un nombre maximum de QCM. <br>Vous aurez l'occasion de bien réfléchir avec une bonne gestion de temps ceci i vous amènent à se bien préparer pour les examens, les concours ou bien les entretiens d'embauche.</p>
    </div>
<hr>
    <div class="container-sm" fxLayout="row">
        <h1>Sujet Abordé :</h1>
        <div class="container" fxFlex="80">
            <mat-grid-list cols="3" rowHeight="60px" gutterSize="15px"> 
                <mat-grid-tile class="uml"></mat-grid-tile>
                <mat-grid-tile class="algebre"></mat-grid-tile>
                <mat-grid-tile class="analyse"></mat-grid-tile>
                <mat-grid-tile class="php"></mat-grid-tile>
                <mat-grid-tile class="bd"></mat-grid-tile>
                <mat-grid-tile class="angular"></mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="container" fxFlex="20" ><button mat-raised-button routerLink="/signin" routerActive="active" class="button_start">Commencer</button></div>
    </div>
